<%- include('../includes/head.ejs') %>


<body class="d-flex flex-column min-vh-100" >

<% if(isAdmin) { %>
    <%- include('../includes/navigation.ejs') %>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fullname</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">see detail</th>
        </tr>
        </thead>
        <tbody>
        <% for ( let user of allUsers) { %>
        <tr>
            <th scope="row" ><%=user.id%></th>
            <td><%=user.full_name%></td>
            <td><%=user.role%></td>
            <td><%=user.status%></td>
            <td>
                <a href="/admin/see-users/<%=user.id%>">Edit</a>
            </td>
        </tr>
        <% } %>

        </tbody>
    </table>
<%} else { %>
    <a href="/">
        <h1>شما ادمین نیستید به صفحه اصلی  بروید</h1>
    </a>

<%}%>
<%- include('../includes/end.ejs') %>